#show-contact {
    display: none;
}


.contact {
    cursor: url(car.png), auto;
    /*color: orange;*/
    border: gray 35px solid;
    border-radius: 100%;
    background-image: url(fire.jpg);
    background-size: cover;
    background-position:center;
    display: inline-block;
    text-align:center;
    list-style: none;
    padding: 50px;
}

.contact:hover {
    text-decoration: underline;
    color: white;
}


.yo_mama {
    margin: 10px;
}


ul {
    list-style-type: none;
}
/*.contact{
    border-style: solid;
    border-width: 21px 18px 17px 15px;
    -moz-border-image: url(funny-cartoon-doodle-frame-child-s-hand-draw-cars-car-element-colored-blackboard-square-various-machines-road-markings-40821105.jpg) 19 19 19 15 round repeat;
    -webkit-border-image: url(funny-cartoon-doodle-frame-child-s-hand-draw-cars-car-element-colored-blackboard-square-various-machines-road-markings-40821105.jpg) 19 19 19 15 round repeat;
    -o-border-image: url(funny-cartoon-doodle-frame-child-s-hand-draw-cars-car-element-colored-blackboard-square-various-machines-road-markings-40821105.jpg) 19 19 19 15 round repeat;
    border-image: url(funny-cartoon-doodle-frame-child-s-hand-draw-cars-car-element-colored-blackboard-square-various-machines-road-markings-40821105.jpg) 19 19 19 15 round repeat;
}*/
